footer {
    background-color: #6D8172;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__content table {
    width: 60%;
}

.footer__logo {
    padding-left: 10%;
}

.footer__title {
    font-family: "Quiche_Bold";
}
