/* Header Styles */
.header {
    background-color: #1D281B;
}

.header__flex-container {
    background-color: rgba(72, 93, 76, 0.5);
    padding: 0.313rem 2rem;
}

.header__navbar {
    order: 2;
    z-index: 1000;
}

.header__site-title {
    margin: 0 auto;
    padding-bottom: 1.25rem;
    text-decoration: none;
}

 .header__h4-title {
    display:none;
}

.header__subtitle {
    color: #f2f2f2;
    font-family: "Quiche_Light";
    font-size: 1rem;
    margin: 0;
    padding: 0.25rem 0;
}

.header__title-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 2rem 6rem 0 6rem;
}